<ion-view view-title="News">
  <ion-content class="padding" >
    
<style type="text/css">
	
	@media only screen and (min-width: 600px) {

   .item.item-body div.bigger { font-size: 2em; }

}
</style>

<div class="list card"><div class="item item-body"><div class="bigger">
Have you downloaded the newest version of the app? if not do it now -- no more bugs!</div></div></div>

											<div class="list card"><div class="item item-body"><div class="bigger">
											Come see me in Telluride, CO Sept. 11-15! (See &quot;Appearances&quot; on richroll.com for details)</div></div></div>

											<div class="list card"><div class="item item-body"><div class="bigger">
											Coming this week on the podcast it&#039;s NFL Defensive Lineman David Carter -- aka the 300lb Vegan</div></div></div>

											<div class="list card"><div class="item item-body"><div class="bigger">
											Are you enjoying the podcast? Give us a review on iTunes!</div></div></div>

											<div class="list card"><div class="item item-body"><div class="bigger">
											Plantpower Running Tech Tees in both black &amp; white now in the Store - visit richroll.com for details</div></div></div>

											<div class="list card"><div class="item item-body"><div class="bigger">
											I&#039;ll be speaking in Las Vegas at the Life Is Beautiful Music &amp; Art Festival Sept. 25-27 (See &quot;Appearances&quot; on richroll.com for details)</div></div></div>



  </ion-content>
</ion-view>