<ion-view view-title="About Rich Roll">
  <ion-content class="padding" >
    
<style type="text/css">
	
	@media only screen and (min-width: 600px) {

   .item.item-body div.body { font-size: 2em; }

}
</style>


											<div class="list card"><div class="item item-body"><div class="bigger">
											Website</div></div></div>

<div class="list card"><div class="item item-body"><div class="bigger">
Twitter</div></div></div>

											<div class="list card"><div class="item item-body"><div class="bigger">
											Facebook</div></div></div>


											<div class="list card"><div class="item item-body"><div class="bigger">
											You-tube</div></div></div>




  </ion-content>
</ion-view>